@model FilterSelectViewModel
<div class="card">
    <div class="card-header">@Model.FilterHeader</div>
    <select class="form-select card-body" multiple="multiple" asp-for="SelectedOptions" name="@Model.FilterName"
        asp-items="Model.Options"></select>
</div>