@model OrderFiltersComponentViewModel

<form asp-method="get">
    <div class="d-flex gap-3 flex-column align-content-end">
        <partial name="_FilterDate" model="Model.PeriodStart" />
        <partial name="_FilterDate" model="Model.PeriodEnd" />
        <partial name="_FilterSelect" model="Model.OrderItemNames" />
        <partial name="_FilterSelect" model="Model.OrderItemUnits" />
        <partial name="_FilterSelect" model="Model.OrderNumbers" />
        <partial name="_FilterSelect" model="Model.Providers" />
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
    </div>
</form>