@{
    ViewData["Title"] = "Заказы";
}
<div class="row py-2">
    <div class="col-8">
        @await Component.InvokeAsync("Orders", new
            {
                pageSize = ViewBag.PageSize,
                pageNumber = ViewBag.PageNumber,
                orderItemUnitsFilter = ViewBag.OrderItemUnitsFilter,
                orderItemNamesFilter = ViewBag.OrderItemNamesFilter,
                orderNumbersFilter = ViewBag.OrderNumbersFilter,
                providerIdsFilter = ViewBag.ProviderIdsFilter,
                periodStart = ViewBag.PeriodStart,
                periodEnd = ViewBag.PeriodEnd,
            })
    </div>
    <div class="col-4">
        @await Component.InvokeAsync("OrderFilters", new
            {
                orderItemUnitsFilter = ViewBag.OrderItemUnitsFilter,
                orderItemNamesFilter = ViewBag.OrderItemNamesFilter,
                orderNumbersFilter = ViewBag.OrderNumbersFilter,
                providerIdsFilter = ViewBag.ProviderIdsFilter,
                periodStart = ViewBag.PeriodStart,
                periodEnd = ViewBag.PeriodEnd,
            })
    </div>
</div>